body{
  overflow-x:hidden;
}
	.brandwrapper {
		width: '1400px';
		height: '100%';
		position:'relative';
		margin:'auto'
	}

  .v {
  	height:100vh;
  	min-height:700px;
  	position:relative;
  	margin:0;
  	background-color:rgba(255,255,255,1.0)
  }

  a {
  text-decoration:none
  }

  div{-webkit-text-size-adjust:none}

  .v .headercopy {
  	background-color:rgba(255,255,255,0.0);
  	top:25px;
  	height:50px;
  	width:925px;
  	position:absolute;
  	margin:0;
  	left:347px;
  	-ms-transform:rotate(0);
  	-webkit-transform:rotate(0);
  	transform:rotate(0)
  }

  .v .headercopy .iconmonstrsearchthin {
    background-color:rgba(255,255,255,0.0);
    top:18px;
    height:16px;
    width:16px;
    position:absolute;
    margin:0;
    left:164px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.67
  }

  .v .headercopy .iconmonstrsearchthin .shape {
  	background-color:rgba(255,255,255,0.0);
  	top:0;
  	height:16px;
  	width:16px;
  	position:relative;
  	margin:0;
  	left:0;
  	-ms-transform:rotate(0);
  	-webkit-transform:rotate(0);
  	transform:rotate(0)
  }

  .v .headercopy .createassetcopy {
    background-color:rgba(255,255,255,0.0);
    top:5px;
    height:auto;
    width:126px;
    position:absolute;
    margin:0;
    left:801px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:300;
    font-style:normal;
    font-size:14.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:1.8px;
    line-height:28.0px
  }

  .v .headercopy .createassetcopy24 {
    background-color:rgba(255,255,255,0.0);
    top:13px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:193px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.67;
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:300;
    font-style:italic;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.71px;
    line-height:28.0px
  }

  .v .headercopy .createassetcopy2 {
    background-color:rgba(255,255,255,0.0);
    top:21px;
    height:auto;
    width:114px;
    position:absolute;
    margin:0;
    left:802px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:300;
    font-style:normal;
    font-size:10.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:1.43px;
    line-height:28.0px
  }

  .v .headercopy .home { 
    background-color:rgba(255,255,255,0.0);
    top:0;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:0;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:500;
    font-style:normal;
    font-size:40.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    line-height:50.0px
  }

  .v .headercopy .oval {
    background-color:rgba(255,255,255,0.0);
    top:5px;
    height:38px;
    width:38px;
    position:absolute;
    margin:0;
    left:748px; 
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .headercopy .line3 {
    background-color:rgba(255,255,255,0.0);
    top:39px;
    height:2px;
    width:471px;
    position:absolute;
    margin:0;
    left:163px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.67
  }

  .v .headercopy .iconmonstrbell1 {
    background-color:rgba(255,255,255,0.0);
    top:16px;
    height:22px;
    width:18px;
    position:absolute;
    margin:0;
    left:700px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .headercopy .iconmonstrbell1 .shape {
    background-color:rgba(255,255,255,0.0);
    top:0;
    height:22px;
    width:18px;
    position:relative;
    margin:0;
    left:0;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .bg {
    background-color:rgba(255,255,255,1.0);
    top:0;
    height:700px;
    width:1400px;
    position:absolute;
    margin:0;
    left:0;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .addassetcopy2 {
    background-color:rgba(255,255,255,0.0);
    top:586px;
    height:112px;
    width:110px;
    position:absolute;
    margin:0;
    left:1276px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .addassetcopy2 .oval3 {
    background-color:rgba(255,255,255,0.0);
    top:0;
    height:112px;
    width:110px;
    position:absolute;
    margin:0;
    left:0;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .addassetcopy2 .iconmonstrplus2 { 
    background-color:rgba(255,255,255,0.0);
    top:22px;
    height:20px;
    width:20px;
    position:absolute;
    margin:0;
    left:45px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .addassetcopy2 .iconmonstrplus2 .shape {
    background-color:rgba(255,255,255,0.0);
    top:0;
    height:20px;
    width:20px;
    position:relative;
    margin:0;
    left:0;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .header { 
    background-color:rgba(255,255,255,0.0);
    top:25px;
    height:50px;
    width:939px;
    position:absolute;
    margin:0;
    left:347px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .header .iconmonstrsearchthin { 
    background-color:rgba(255,255,255,0.0);
    top:18px;
    height:16px;
    width:16px;
    position:absolute;
    margin:0;
    left:321px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.67
  }

  .v .header .iconmonstrsearchthin .shape {
    background-color:rgba(255,255,255,0.0);
    top:0;
    height:16px;
    width:16px;
    position:relative;
    margin:0;
    left:0;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .header .createassetcopy { 
    background-color:rgba(255,255,255,0.0);
    top:5px;
    height:auto;
    width:126px;
    position:absolute;
    margin:0;
    left:801px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    font-family:'Raleway',Helvetica,Arial,serif;font-weight:300;
    font-style:normal;
    font-size:14.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:1.8px;
    line-height:28.0px
  }

  .v .header .createassetcopy24 { 
    background-color:rgba(255,255,255,0.0);
    top:13px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:350px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.67;
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:300;
    font-style:italic;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.71px;
    line-height:28.0px
  }

  .v .header .createassetcopy2 { 
    background-color:rgba(255,255,255,0.0);
    top:21px;
    height:auto;
    width:138px;
    position:absolute;
    margin:0;
    left:802px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:300;
    font-style:normal;
    font-size:10.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:1.43px;
    line-height:28.0px
  }

  .v .header .orders {
    background-color:rgba(255,255,255,0.0);
    top:0;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:0;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:500;
    font-style:normal;
    font-size:40.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    line-height:50.0px
  }

  .v .header .oval {
    background-color:rgba(255,255,255,0.0);
    top:5px;
    height:38px;
    width:38px;
    position:absolute;
    margin:0;
    left:748px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
    }

    .v .header .line3 {
    background-color:rgba(255,255,255,0.0);
    top:39px;
    height:2px;
    width:339px;
    position:absolute;
    margin:0;
    left:320px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.67
  }

  .v .header .iconmonstrbell1 {
	  background-color:rgba(255,255,255,0.0);
	  top:16px;
	  height:22px;
	  width:18px;
	  position:absolute;
	  margin:0;
	  left:700px;
	  -ms-transform:rotate(0);
	  -webkit-transform:rotate(0);
	  transform:rotate(0)
  }

  .v .header .iconmonstrbell1 .shape {
    background-color:rgba(255,255,255,0.0);
    top:0;
    height:22px;
    width:18px;
    position:relative;
    margin:0;
    left:0;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .navdrawer {
    background-color:rgba(255,255,255,0.0);
    top:0;
    height:700px;
    width:272px;
    position:absolute;
    margin:0;
    left:0;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .navdrawer .rectanglecopy2 {
    background-color:rgba(73,143,225,0.06);
    top:0;
    height:700px;
    width:272px;
    position:absolute;
    margin:0;
    left:0;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .navdrawer .createassetcopy10 {
    background-color:rgba(255,255,255,0.0);
    top:166px;
    height:auto;
    width:152px;
    position:absolute;
    margin:0;
    left:50px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:500;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:2.07px;
    line-height:28.0px
  }

  .v .navdrawer .createassetcopy12 {
    background-color:rgba(255,255,255,0.0);
    top:297px;
    height:auto;
    width:152px;
    position:absolute;
    margin:0;
    left:75px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:700;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:2.07px;
    line-height:28.0px
  }

  .v .navdrawer .viewassecopy2 {
  	background-color:rgba(255,255,255,0.0);
  	top:244px;
  	height:auto;
  	width:152px;
  	position:absolute;
  	margin:0;
  	left:50px;
  	-ms-transform:rotate(0);
  	-webkit-transform:rotate(0);
  	transform:rotate(0);
  	font-family:'Raleway',Helvetica,Arial,serif;
  	font-weight:700;
  	font-style:normal;
  	font-size:18.0px;
  	color:rgba(10,7,36,1.0);
  	text-align:left;
  	letter-spacing:2.07px;
  	line-height:28.0px
  }

  .v .navdrawer .moveassetcopy2 {
  	background-color:rgba(255,255,255,0.0);
  	top:375px;
  	height:auto;
  	width:152px;
  	position:absolute;
  	margin:0;
  	left:50px;
  	-ms-transform:rotate(0);
  	-webkit-transform:rotate(0);
  	transform:rotate(0);
  	font-family:'Raleway',Helvetica,Arial,serif;
  	font-weight:500;
  	font-style:normal;
  	font-size:18.0px;
  	color:rgba(10,7,36,1.0);
  	text-align:left;
  	letter-spacing:2.07px;
  	line-height:28.0px
  }

  .v .navdrawer .moveassetcopy3 {
    background-color:rgba(255,255,255,0.0);
    top:453px;
    height:auto;
    width:152px;
    position:absolute;
    margin:0;
    left:50px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:500;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:2.07px;
    line-height:28.0px
  }

  .v .navdrawer .logocrown {
    background-color:rgba(255,255,255,0.0);
    top:24px;
    height:50px;
    width:177px;
    position:absolute;
    margin:0;
    left:50px; 
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .navdrawer .logocrown .crown {
    background-color:rgba(255,255,255,0.0);
    top:0;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:66px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:700;
    font-style:normal;
    font-size:36.0px;
    color:rgba(73,143,225,1.0);
    text-align:left;
    line-height:50.0px
  }

  .v .navdrawer .logocrown .iconmonstrcrown15 { 
    background-color:rgba(255,255,255,0.0);
    top:0;
    height:43px;
    width:51px;
    position:absolute;
    margin:0;
    left:0;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .navdrawer .logocrown .iconmonstrcrown15 .shape {
    background-color:rgba(255,255,255,0.0);
    top:0;
    height:43px;
    width:51px;
    position:relative;
    margin:0;
    left:0;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }

  .v .name {
  	background-color:rgba(255,255,255,0.0);
  	top:167px;
  	height:auto;
  	width:auto;
  	position:absolute;
  	margin:0;
  	left:347px;
  	-ms-transform:rotate(0);
  	-webkit-transform:rotate(0);
  	transform:rotate(0);
  	opacity:.7;
  	font-family:'Raleway',Helvetica,Arial,serif;
  	font-weight:600;
  	font-style:normal;
  	font-size:18.0px;
  	color:rgba(10,7,36,1.0);
  	text-align:left;
  	letter-spacing:.26px;
  	line-height:26.0px
  }

  .v .mensknittedtshir {
  	background-color:rgba(255,255,255,0.0);
  	top:233px;
  	height:auto;
  	width:auto;
  	position:absolute;
  	margin:0;
  	left:347px;
  	-ms-transform:rotate(0);
  	-webkit-transform:rotate(0);
  	transform:rotate(0);
  	opacity:.7;
  	font-family:'Raleway',Helvetica,Arial,serif;font-weight:400;
  	font-style:normal;
  	font-size:18.0px;
  	color:rgba(10,7,36,1.0);
  	text-align:left;
  	letter-spacing:.26px;
  	line-height:26.0px
  }

  .v .womenu2019ssweater {
    background-color:rgba(255,255,255,0.0);
    top:284px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:347px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7;
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:400;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .v .menu2019sregularjeans {
    background-color:rgba(255,255,255,0.0);
    top:335px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:347px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7;
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:400;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .v .supplier {
    background-color:rgba(255,255,255,0.0);
    top:167px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:575px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7;
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:600;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .v .botiq {
    background-color:rgba(255,255,255,0.0);
    top:233px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:575px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7;
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:400;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .v .supplierx {
    background-color:rgba(255,255,255,0.0);
    top:284px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:575px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7;
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:400;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .v .cutter {
    background-color:rgba(255,255,255,0.0);
    top:335px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:575px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7;
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:400;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .v .quantitycopy2 {
    background-color:rgba(255,255,255,0.0);
    top:167px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:713px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0); 
    opacity:.7;
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:600;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .v .a20000 {
    background-color:rgba(255,255,255,0.0);
    top:233px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:713px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7;
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:400;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .v .a12000 {
    background-color:rgba(255,255,255,0.0);
    top:284px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:713px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7;
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:400;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .v .a50000 {
    background-color:rgba(255,255,255,0.0);
    top:335px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:713px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7;
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:400;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .v .allordersplacedby {
    background-color:rgba(255,255,255,0.0);
    top:100px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:353px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7; 
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:400;
    font-style:normal;
    font-size:18.0px;
    color:rgba(10,7,36,1.0);
    text-align:left;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .v .ordertable {
    background-color:rgba(255,255,255,0.0);
    top:100px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:280px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7; 
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:400;
    font-style:normal;
    font-size:16.0px;
    color:rgba(10,7,36,1.0);
    text-align:center;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .v .orderform {
    background-color:rgba(255,255,255,0.0);
    top:100px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:280px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7; 
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:400;
    font-style:normal;
    font-size:16.0px;
    color:rgba(10,7,36,1.0);
    text-align:center;
    letter-spacing:.26px;
    line-height:26.0px
  }

	.v .purchaseorder {
	  background-color:rgba(255,255,255,0.0);
	  top:167px;
	  height:auto;
	  width:auto;
	  position:absolute;
	  margin:0;
	  left:838px;
	  -ms-transform:rotate(0);
	  -webkit-transform:rotate(0);
	  transform:rotate(0);
	  opacity:.7;
	  font-family:'Raleway',Helvetica,Arial,serif;
	  font-weight:600;
	  font-style:normal;
	  font-size:18.0px;
	  color:rgba(10,7,36,1.0);
	  text-align:left;
	  letter-spacing:.26px;
	  line-height:26.0px
	}

	.v .fm001 {
	  background-color:rgba(255,255,255,0.0);
	  top:233px;
	  height:auto;
	  width:auto;
	  position:absolute;
	  margin:0;
	  left:838px;
	  -ms-transform:rotate(0);
	  -webkit-transform:rotate(0);
	  transform:rotate(0);
	  opacity:.7;
	  font-family:'Raleway',Helvetica,Arial,serif;
	  font-weight:400;
	  font-style:normal;
	  font-size:18.0px;
	  color:rgba(10,7,36,1.0);
	  text-align:left;
	  letter-spacing:.26px;
	  line-height:26.0px
	}

	.v .fm002 {
	  background-color:rgba(255,255,255,0.0);
	  top:284px;
	  height:auto;
	  width:auto;
	  position:absolute;
	  margin:0;
	  left:838px;
	  -ms-transform:rotate(0);
	  -webkit-transform:rotate(0);
	  transform:rotate(0);
	  opacity:.7;
	  font-family:'Raleway',Helvetica,Arial,serif;
	  font-weight:400;
	  font-style:normal;
	  font-size:18.0px;
	  color:rgba(10,7,36,1.0);
	  text-align:left;
	  letter-spacing:.26px;
	  line-height:26.0px
	}

	.v .fm003 {
	  background-color:rgba(255,255,255,0.0);
	  top:335px;
	  height:auto;
	  width:auto;
	  position:absolute;
	  margin:0;
	  left:838px;
	  -ms-transform:rotate(0);
	  -webkit-transform:rotate(0);
	  transform:rotate(0);
	  opacity:.7;
	  font-family:'Raleway',Helvetica,Arial,serif;
	  font-weight:400;
	  font-style:normal;
	  font-size:18.0px;
	  color:rgba(10,7,36,1.0);
	  text-align:left;
	  letter-spacing:.26px;
	  line-height:26.0px
	}

	.v .date {
		background-color:rgba(255,255,255,0.0);
		top:167px;
		height:auto;
		width:auto;
		position:absolute;
		margin:0;
		left:1024px;
		-ms-transform:rotate(0);
		-webkit-transform:rotate(0);
		transform:rotate(0);
		opacity:.7;
		font-family:'Raleway',Helvetica,Arial,serif;
		font-weight:600;
		font-style:normal;
		font-size:18.0px;
		color:rgba(10,7,36,1.0);
		text-align:left;
		letter-spacing:.26px;
		line-height:26.0px
	}

	.v .a03102018 {
	  background-color:rgba(255,255,255,0.0);
	  top:233px;
	  height:auto;
	  width:auto;
	  position:absolute;
	  margin:0;
	  left:1024px;
	  -ms-transform:rotate(0);
	  -webkit-transform:rotate(0);
	  transform:rotate(0);
	  opacity:.7;
	  font-family:'Raleway',Helvetica,Arial,serif;
	  font-weight:400;
	  font-style:normal;
	  font-size:18.0px;
	  color:rgba(10,7,36,1.0);
	  text-align:left;
	  letter-spacing:.26px;
	  line-height:26.0px
	}

	.v .a02102018 {
	  background-color:rgba(255,255,255,0.0);
	  top:284px;
	  height:auto;
	  width:auto;
	  position:absolute;
	  margin:0;
	  left:1024px;
	  -ms-transform:rotate(0);
	  -webkit-transform:rotate(0);
	  transform:rotate(0);
	  opacity:.7;
	  font-family:'Raleway',Helvetica,Arial,serif;
	  font-weight:400;
	  font-style:normal;
	  font-size:18.0px;
	  color:rgba(10,7,36,1.0);
	  text-align:left;
	  letter-spacing:.26px;
	  line-height:26.0px
	}

	.v .a01102018 {
	  background-color:rgba(255,255,255,0.0);
	  top:335px;
	  height:auto;
	  width:auto;
	  position:absolute;
	  margin:0;
	  left:1024px;
	  -ms-transform:rotate(0);
	  -webkit-transform:rotate(0);
	  transform:rotate(0);
	  opacity:.7;
	  font-family:'Raleway',Helvetica,Arial,serif;
	  font-weight:400;
	  font-style:normal;
	  font-size:18.0px;
	  color:rgba(10,7,36,1.0);
	  text-align:left;
	  letter-spacing:.26px;
	  line-height:26.0px
	}

	.v .action {
	  background-color:rgba(255,255,255,0.0);
	  top:166px;
	  height:auto;
	  width:auto;
	  position:absolute;
	  margin:0;
	  left:1176px;
	  -ms-transform:rotate(0);
	  -webkit-transform:rotate(0);
	  transform:rotate(0);
	  opacity:.7;
	  font-family:'Raleway',Helvetica,Arial,serif;
	  font-weight:600;
	  font-style:normal;
	  font-size:18.0px;
	  color:rgba(10,7,36,1.0);
	  text-align:left;
	  letter-spacing:.26px;
	  line-height:26.0px
	}

	.v .edit {
	  background-color:rgba(255,255,255,0.0);
	  top:233px;
	  height:auto;
	  width:auto;
	  position:absolute;
	  margin:0;
	  left:1176px;
	  -ms-transform:rotate(0);
	  -webkit-transform:rotate(0);
	  transform:rotate(0);
	  font-family:'Raleway',Helvetica,Arial,serif;
	  font-weight:500;
	  font-style:normal;
	  font-size:18.0px;
	  color:rgba(73,143,225,1.0);
	  text-align:left;
	  letter-spacing:.26px;
	  line-height:26.0px
	}

	.v .delete {
	  background-color:rgba(255,255,255,0.0);
	  top:233px;
	  height:auto;
	  width:auto;
	  position:absolute;
	  margin:0;
	  left:1225px;
	  -ms-transform:rotate(0);
	  -webkit-transform:rotate(0);
	  transform:rotate(0);
	  font-family:'Raleway',Helvetica,Arial,serif;
	  font-weight:500;
	  font-style:normal;
	  font-size:18.0px;
	  color:rgba(208,1,27,1.0);
	  text-align:left;
	  letter-spacing:.26px;
	  line-height:26.0px
	}

	.v .place {
	  background-color:rgba(255,255,255,0.0);
	  top:233px;
	  height:auto;
	  width:auto;
	  position:absolute;
	  margin:0;
	  left:1297px;
	  -ms-transform:rotate(0);
	  -webkit-transform:rotate(0);
	  transform:rotate(0);
	  font-family:'Raleway',Helvetica,Arial,serif;
	  font-weight:500;
	  font-style:normal;
	  font-size:18.0px;
	  color:rgba(73,143,225,1.0);
	  text-align:left;
	  letter-spacing:.26px;
	  line-height:26.0px
	}

	.anima-animate-appear {
	  opacity:0;
	  display:block;
	  -webkit-animation:anima-reveal .3s ease-in-out 1 normal forwards;
	  -moz-animation:anima-reveal .3s ease-in 1 normal forwards;
	  -o-animation:anima-reveal .3s ease-in-out 1 normal forwards;
	  animation:anima-reveal .3s ease-in-out 1 normal forwards
	}

	.anima-animate-disappear {
	  opacity:1;
	  display:block;
	  -webkit-animation:anima-reveal .3s ease-in-out 1 reverse forwards;
	  -moz-animation:anima-reveal .3s ease-in 1 normal forwards;
	  -o-animation:anima-reveal .3s ease-in-out 1 reverse forwards;
	  animation:anima-reveal .3s ease-in-out 1 reverse forwards
	}

	.anima-animate-nodelay {
	  -webkit-animation-delay:0;
	  -moz-animation-delay:0;
	  -o-animation-delay:0;
	  animation-delay:0
	}

	@-webkit-keyframes anima-reveal {
		0%{opacity:0}
		100%{opacity:1}
	}

	@-moz-keyframes anima-reveal{
		0%{opacity:0}
		100%{opacity:1}
	}
	
	@-o-keyframes anima-reveal{
		0%{opacity:0}
		100%{opacity:1}
	}

	@keyframes anima-reveal{
		0%{opacity:0}
		100%{opacity:1}
	}


	.launchpadbanner-powered-by-launchpad {
	  background: rgba(255, 255, 255, 0.0);
	  right: 12px; 
	  width: 172px; 
	  position: fixed; 
	  height: 27px; 
	  margin: 0; 
	  bottom: 12px; 
	  overflow: hidden;
	  }

	.launchpadbanner-powered-by-launchpad:hover {
	  height: 100px;
	}

	.launchpadbanner-powered-by-launchpad .launchpadbanner-title {
	  background: rgba(255, 255, 255, 0.0); 
	  left: 0px; 
	  width: 165px; 
	  position: absolute; 
	  height: 27px; 
	  margin: 0; 
	  bottom: 0px;
	}

	.launchpadbanner-powered-by-launchpad .launchpadbanner-title .launchpadbanner-titleBg {
	  background: rgba(255, 255, 255, 1.0);
	  left: 0px; 
	  width: 100%; 
	  position: absolute; 
	  height: 25px; 
	  margin: 0; 
	  top: 0px; 
	  border-radius: 5px; 
	  border-style: solid; 
	  border-width: 1px; 
	  border-color: rgba(65, 33, 240, 1.0);
	}

	.launchpadbanner-powered-by-launchpad .launchpadbanner-title .launchpadbanner-label1 {
	  background: rgba(255, 255, 255, 0.0); 
	  width: 100%; 
	  position: relative; 
	  height: auto; 
	  margin: 0; 
	  top: 6px; 
	  font-family: 'Montserrat', Verdana, Arial, serif; 
	  font-weight: 400; 
	  font-style: normal; 
	  font-size: 12.0px; 
	  color: rgba(65, 33, 240, 1.0); 
	  text-align: center; 
	  letter-spacing: 0.24px; 
	  line-height: 14.0px;
	}

	.launchpadbanner-powered-by-launchpad .launchpadbanner-extended {
	  background: rgba(255, 255, 255, 0.0); 
	  left: 0px; 
	  width: 165px; 
	  position: absolute; 
	  height: 60px; 
	  margin: 0; 
	  bottom: 35px;
	}

	.launchpadbanner-powered-by-launchpad .launchpadbanner-extended .launchpadbanner-extendedBg {
	  background: rgba(65, 33, 240, 1); 
	  left: 0px; 
	  width: 165px; 
	  position: absolute; 
	  height: 100%; 
	  margin: 0; 
	  bottom: 0px; 
	  border-radius: 5px; 
	  border-style: solid; 
	  border-width: 1px; 
	  border-color: rgba(65, 33, 240, 1.0);
	}

	.launchpadbanner-powered-by-launchpad .launchpadbanner-extended .launchpadbanner-subtitle {
	  background: rgba(255, 255, 255, 0.0); 
	  left: 50px; 
	  width: auto; 
	  position: absolute; 
	  height: auto; 
	  margin: 0; 
	  top: 7px; 
	  font-family: 'Montserrat', Verdana, Arial, serif; 
	  font-weight: 400; 
	  font-style: normal; 
	  font-size: 11.0px; 
	  color: rgba(255, 255, 255, 1.0); 
	  text-align: left; 
	  letter-spacing: 0.2px; 
	  line-height: 14.0px;
	}

	.launchpadbanner-powered-by-launchpad .launchpadbanner-extended .launchpadbanner-launchpadpoweredlogo {
	  background: rgba(255, 255, 255, 0.0); 
	  left: 18px; 
	  width: 16px; 
	  position: absolute; 
	  height: 17px; 
	  margin: 0; 
	  top: 18px;
	}

  .addordercopy {
    background-color: rgba(255,255,255,0.0);
    top: 933px;
    height: 121px;
    width: 120px;
    position: absolute;
    margin: 0;
    left: 1749px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .createButton {
    background-color:rgba(5,0,255,0.3);
    top:100px;
    height:auto;
    width:auto;
    position:absolute;
    margin:0;
    left:280px;
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    opacity:.7; 
    font-family:'Raleway',Helvetica,Arial,serif;
    font-weight:400;
    font-style:normal;
    font-size:16.0px;
    color:rgba(10,7,36,1.0);
    text-align:center;
    letter-spacing:.26px;
    line-height:26.0px
  }

  .addordercopy .iconmonstrplus2 {
    background-color: rgba(255,255,255,0.0);
    top: 25px;
    height: 23px;
    width: 23px;
    position: absolute;
    margin: 0;
    left: 49px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

// .date-picker {
//   input{
//     margin-top: 10px;
//     // height: calc(2.25rem + 2px);
//     border-radius: 3px;
//     border: 1px solid #ccc;
//     padding: 0 10px;
//     width: 100%; 
//   }
//   .react-datepicker-wrapper {
//     .react-datepicker__input-container{
//       width: 100%;
//     }
//   }
// }
.item-name{
  display: block;
  text-align: left;
  padding-left: 38px;
  font-weight: bold;  
}
.item-list{
  float:left;
  margin:0;
  li{
    list-style-type:none;
  }
}
.btn-group-sm>.btn, .btn-sm{
  padding: .25rem .3rem;
}

.linkTo {
  text-align: right;
  margin-top: 0px;
  height: calc(2.25rem + 2px);
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 10px;
  width: 97%;
}