// .invoice-container {
//   width: 90%;
//   border-left-width: 0px;
//   border-right-width: 0px;
//   border-top-width: 0px;
//   border-bottom-width: 0px;
//   display:block;
//   margin-left:auto;
//   margin-right:auto;
//   position: absolute;
//   left: 0;
//   right: 0;
//   margin: auto;
// }

.invoice-container .register {padding: 10px; margin-bottom: 10px;}

.invoice-container > .btn-success {padding: 5px 10px; width: 80px; font-size:16px; margin-bottom : 10px;}

.emptyDataMsg {
  width:60%;
  margin: 0 auto;
  text-align: center;
  background: #e5e5e5;
  padding:10px;
}

// for loader
.glyphicon.spinning {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  border-left-width: 20px;
  left: 275px;
  animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
