.form-container {
  width: 550px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 20px;
}

.error-style {
  text-decoration: underline;
}

.help-block {
  text-decoration-color: red;
}

.register {
  text-align: center;
  font-size: 200%;
  text-shadow: 2px 2px 2px #464a4c;;
  text-indent: inherit;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.error-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color:#a94442;
  padding-top: 0px;
  font:normal normal normal 14px/1 FontAwesome;
}

.buttonstyle {
  // margin-left: 15px;
  background: #3ecdff;
  border-color: #3ecdff;
  &:hover{
    background: rgba(62, 205, 255,0.8);
    border-color: rgba(62, 205, 255, 0.8);
  }
}

.form-container .form-group label {font-size: 16px;}

.form-container .btn {padding:5px 15px; font-size: 14px; margin-top: 10px;}

.form-container .form-group .form-control {   height: 35px; font-size: 1.5rem!important; line-height: 1.5!important;}
