@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
@import 'custom.scss';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
