@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
.table-space {
  padding-top: 5px;
}

.table-bordered, .table-bordered td, .table-bordered th, .table thead th {border: 1px solid #C5C5C5; vertical-align: middle; text-align: center!important;}

.react-bs-container-body tr td {text-align: center!important;}

.addTable {border-radius:50%; z-index: 1; position: absolute;left:0; line-height: 1; width:40px!important; font-size: 30px!important;height:40px; font-weight: bold; padding: 0!important; }
.react-bs-table-search-form >  span button,.react-bs-table-search-form > input {padding: 10px!important; font-size: 14px!important;}
.react-bs-container-body .btn-group button {font-size:16px; margin-right:10px;}
.react-bs-table-pagination {padding-left: 160px;}
.react-bs-table table td, .react-bs-table table th {white-space: pre-line;text-overflow: clip;}

.button {
  margin-left: 40px;
}
