.order-barcode{
    margin-top: 20px;
}  

.order-barcode .row{
    margin-bottom: 20px;
} 

.order-barcode .row .col-detail{
  margin-bottom: 20px;
  padding-right:0;
}

.order-barcode .row .col-detail .left{
  float: left;
  box-shadow: 0px 6px 10px #7aa1ff;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 3px;
  position: relative;
  cursor: pointer;
}

.order-barcode .row .col-detail .left canvas{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width:90px  !important;
  height: 90px !important;
}

.order-barcode .row .col-detail .right{
  float: left;
  box-shadow: 0px 6px 10px #7aa1ff;
  background-color: #fff;
  border-radius: 5px;
  min-width: 227px;
  padding: 1px;
  min-height: 100px;
  padding-left: 8px;
  cursor: pointer;
}

.order-barcode .row .col-detail .right p{
  font-size: 13px;
  line-height: 16px;
}

.order-barcode .row .col-detail .right span{
  font-weight: bold;
}

.order-barcode .pagination-bg{
  background-color: #fff;
  box-shadow: 0px 6px 10px #7aa1ff;
  overflow: hidden;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.order-staps{
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 6px 10px #7aa1ff;
  padding: 20px 0px 20px 15px;
  margin-bottom: 30px;
}

.order-staps .staps{
  float: left;
  width: 18%;
  position: relative;
}

.order-staps .staps:first-child{
  margin-left: 1px;
}

.order-staps .staps .checked{
  width: 28px;
  height: 28px;
  background: #fff;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 8px 0 0 0;
}

.order-staps .staps .checked::before{
  content: '';
  height: 2px;
  position: absolute;
  top: 46px;
  left: 35px;
  width: 132px;
  background-color: #c9c9d0;
  background-image: linear-gradient(to right, #4e79e1 , #c9c9d0);
}

.order-staps .staps .checked::after{
  content: '';
  position: absolute;
  border-left: solid 8px #c9c9d0;
  border-bottom: solid 8px transparent;
  border-top: solid 8px transparent;
  left: 165px;
  top: 39px;
}

.order-staps .staps:last-child {
  width: 75px;
}

.order-staps .staps:last-child .checked::before{
  display: none;
}

.order-staps .staps:last-child .checked::after{
  display: none;
}

.order-staps .staps .checked.active{
  background-color: #4e79e1;
  background-image: url(../../../images/done.png);
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: 4px 6px; 
}

.order-staps .staps .checked.active::before{
  background-color: #4e79e1;
  background-image: linear-gradient(to right, #4e79e1 , #4e79e1);
}

.order-staps .staps .checked.active::after{
   border-left: solid 8px #4e79e1;
  border-bottom: solid 8px transparent;
  border-top: solid 8px transparent;
}

.order-staps .staps label{
  white-space: nowrap;
  color: #c9c9d0;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
}

.order-staps .staps .details{
  background-color: white;
  color: #4e79e1;
  font-size: 14px;
  font-weight: normal;
  display: block;
  margin-top: 10px;
  padding-left: 0px;
}

@media(max-width:767px){
  .sidebar{
    position: relative;
    box-shadow: none;
  }

.order-staps{
    overflow: hidden;
}

.order-staps .staps{
    width: 30%;
}

.order-staps .staps label{
    width: 50px;
    height: 60px;
    text-align: left;
}

.order-staps .staps .checked.active:before{
    top: 87px;
    left: 35px;
    width: 16px;
}

.order-staps .staps .checked.active:after{
    left: 45px;
    top: 80px;
}

.react-bs-table table{
  table-layout: auto;
}
}

.modal-content{
  width: 177%;
  margin-left: -213px;
}

#exportTable{
  white-space: nowrap;
}

.table-custom-class{
    text-align: left;
    white-space: pre-wrap;
    line-height: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    border-top: none;
    border-right: none;
    border-bottom: 3px solid rgb(246, 247, 251);
    border-left: none;
    border-image: initial;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 22px;
    color: rgba(0, 0, 0, 0.7);
}
