.menu {
  list-style: none;
  width: 100%;
  padding: 0;
  height: 60px;
  background-color: #3ecdff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li {
  display: inline-block;
  // float: left;
  padding-left: 60px;
  padding-right: 60px;
}

.menu li a {
  display: flex;
  text-decoration:none;
  text-align: center;
  width: 100%;
  
  padding-top: 5px;
  padding-bottom: 5px;
  height: 60px;
  line-height: 50px;
  color: #FDFEFE;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: .2s linear;
  }
  &:hover, &:focus{
    color: #000;
    &:before {
      -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }
  }
}


.menu li > ul {
  left: -9999px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: 0.3s;
  text-decoration-color: red;
}

.menu li > ul {
  opacity: 1;
};
