.header-btn {
	& img {
		height:28px;
	}
}
.inner-pg-header {
	// background: url(../../public/box-bg-1.png) repeat;
	background-size: contain;
	padding: 10px;
	overflow: hidden;
    // box-shadow: 0 2px 10px #000;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,.1));
    & a > span, .inner-pg-title{
      color:#3ecdff;
      text-transform: uppercase;
    }
    & .home-icon {
      & img {
        height: 30px;
        max-height: 45px;
    }
 }
}
.cart-icon > div {
	padding: 0 15px 0 12px!important;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}