.loader {
  background:rgba(0,0,0,0.5);
  background-image: url('../../public/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  position: fixed;
  z-index: 10000;
  width: 100%;height: 100%;
  top:0;
  left:0;
}
