.btn {
  &:hover {
    text-decoration: none;
  }  
}

.btn-box {
  font-size: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  & i {
    font-size: 16px; 
    margin-top: 4px;
    margin-left: 3px;
    height: 16px;
  }
}