.page-layout__viewport {
  padding-top: 2rem;
  width: 100%;
  margin: 0 auto;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.main-container{
    background-color: #f5f5f5;
    height: 100%;
}
