.create-order{
  .table-bordered{
    tbody{
      td{
        line-height: 25px;
        input[type="text"]{
          height: 25px;
        }
        a{
          &.active{
            padding: 0 8px 0 0px;
          }
        }
      }
    }
  }
}
.btn-right{
  float: right;
  padding-right: 0px;
  .cancel{
    background-color: $white;
    color: #ce4152;
    -webkit-box-shadow: 0px 5px 17px -3px #ccc;border: none;
    padding: 6px 60px;
    box-shadow: 0px 5px 17px -3px #ccc;
    margin-right: 10px; 
    position: relative;
    bottom: 24px;
    right: 222px;
    &:hover{
      background-color: #f9f9f9;
    }
  }
  .non-cancel{
    background-color: $white;
    color: $brand-primary;
    -webkit-box-shadow: 0px 5px 17px -3px #ccc;border: none;
    padding: 6px 60px;
    box-shadow: 0px 5px 17px -3px #ccc;
    margin-right: 10px; 
    position: relative;
    bottom: 24px;
    right: 222px;
    &:hover{
      background-color: #f9f9f9;
    }
  }
  .reviewCancel{
    background-color: $white;
    color: #ce4152;
    -webkit-box-shadow: 0px 5px 17px -3px #ccc;border: none;
    padding: 6px 60px;
    box-shadow: 0px 5px 17px -3px #ccc;
    margin-right: 10px; 
    margin-top: 40px; 
    bottom: 24px;
    right: 222px;
    &:hover{
      background-color: #f9f9f9;
    }
  }
  .reviewReview{
    background-color: $white;
    color: $brand-primary;
    -webkit-box-shadow: 0px 5px 17px -3px #ccc;border: none;
    padding: 6px 60px;
    box-shadow: 0px 5px 17px -3px #ccc;
    margin-right: 10px; 
    margin-top: 40px; 
    bottom: 24px;
    right: 222px;
    &:hover{
      background-color: #f9f9f9;
    }
  }
  .create{
    -webkit-box-shadow: 0px 5px 17px -3px #ccc;
    box-shadow: 0px 5px 17px -3px #ccc;
    border: none;
    padding: 6px 60px;
  }
}
