.create-order{
  .form-row{
    .form-group{
      margin-bottom: 0;
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
      label{
        color: $menu-text;
        font-size: 14px;
        line-height: 30px;
        font-weight: normal;
      }
    }
  }
  
}
.form-control{
  width: 100%;
  background-color: $white;
  max-height: 34px;
  border: 1px solid $brand-primary;
  -webkit-box-shadow: 0px 5px 17px -3px #ccc;
    box-shadow: 0px 5px 17px -3px #ccc;
}
.btn-bs-file{
  position: relative;
    input[type="file"] {
    width: 100%;
    height: 34px;
    position: absolute;
    top: 0;
    opacity: 0;
  }
  label{
    width: 100%;
    height: 34px;
    font-size: 100px;
    border: 1px solid $brand-primary;
    -webkit-box-shadow: 0px 5px 17px -3px #ccc;
    box-shadow: 0px 5px 17px -3px #ccc;
    text-align: right;
    outline: none;
    background-color: $white;
    cursor: inherit;
    display: block;
    background-image: url(../images/file-upload-button.png);
    background-position: right 9px top 7px;
    background-repeat: no-repeat;
    background-size: 17px;
    border-radius: 4px;
  }
  .form-control{
    span{
      float: right;
      background-position: right 9px top 7px;
    }
    p{
      float: left;
      background-position: right 9px top 7px;
    }
    img {
      background-position: right 9px top 7px;
      background-repeat: no-repeat;
      background-size: 17px;
      width: 15px;
    }
  }
}
.calender{
  width: 15px;
}
[name="order_date"],[name="from_date"],[name="to_date"]{
  background-image: url(../images/calender-icon.png);
  background-repeat: no-repeat;
  background-position: right 9px top 7px;
  background-size: 17px;
}
.select-menu{
    border-radius: 4px;
    width: 100%;
    HEIGHT: 34PX;
    border: 1px solid $brand-primary;
    -webkit-box-shadow: 0px 5px 17px -3px #ccc;
    box-shadow: 0px 5px 17px -3px #ccc;
}
.btn{
  .add{
    font-size: 22px;
    line-height: 0;
    margin-left: 15px;
  }
}