.header{
  padding-top: 20px;
  overflow: hidden;
  .search-wrap{
    overflow: hidden;
    .search{
      border-bottom: 2px solid $gray-lighter;
      .input-search{
        width: 100%;
        background: url(../images/header-search-icon.png) no-repeat right 15px top 11px;  
        border: none;
        padding: 9px 0 9px 24px;
      }
    }
    .search-with-out{
      border-bottom: none;
    }
    .user{
      .user-wrap{
        background-color: $brand-primary;
        width: 39px;
        height: 39px;
        border-radius: 8px;
        position: relative;
        padding: 6px;
        float: left;
        box-shadow: 0px 6px 10px #7aa1ff;
        .user-img{
          position: relative;
          bottom: -6px;
        }
      }
      .user-detail{
        float: left;
        margin-top: 8px;
        margin-left: 7px;
        p.name{
          font-size: 12px;
          margin: 0;
          font-weight: bold;
        }
        p.deg{
          font-size: 10px;
          margin: 0;
        }
      }
    }
  }
  p{
    font-size: 13px;
  }
}