
.login-form{
    background-color: $white;
    border-radius: 10px;
    position: absolute;
    left: 799px;
    top: 652px;
    width: 498px;
    bottom: 0;
    margin: auto;
    min-height: 510px;
    overflow-y: auto;
    box-shadow: 0px 0px 12px #ccc;
    .title{
        font-size: 25px;
        margin: 40px 0;
    }  
    form{
        overflow: hidden;
        clear: both;
        .form-group{
            .control-label{
                font-size: 18px;
                line-height: 30px;
                color: #c9c9d0;
            }
        }
        .btn-right{
            width: 45%;
            .btn-primary{
                width: 100%;
                box-shadow: 0 1px 8px 0px #ccc;
            }
        }
        .forgot-pass{
            color: $brand-primary;
            position: relative;
            top: 10px;
            left: -8px;
        }
    }
  }
  .ragistration-btn{
    background-color: #fff;
    color: #ce4152;
    -webkit-box-shadow: 0 1px 8px 0px #ccc;
    border: none;
    padding: 6px 12px;
    box-shadow: 0 1px 8px 0px #ccc;
    margin-right: 10px;
    position: relative;
    bottom: 71px;
    right: -17px;
    width: 45%;
    height: 38px;
    border-radius: 4px;
  }

  .register-back {
    margin-top: 15px;
  }

  .register-btn-group{
    margin-bottom: 20px;
    .btn-right{
        float: none;
        margin: 0 auto;
    }
  }