.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 22;
  display: block;
  padding: 15px;
  background-color: $white;
  border-radius: 8px;
  -webkit-box-shadow: 15px 0 19px -10px #ccc;
          box-shadow: 15px 0 19px -10px #ccc;
  p.navdrawerfooter {
    text-align: center;
    position: relative;
    bottom: -10px;
    color: #ccc;
  }
  hr{
    position: relative;
    bottom: -10px;
  }       
  .menu-header{
    border-bottom: 1px solid $brand-gray;
    padding: 10px 15px;
    overflow: hidden;
    margin-bottom: 5px;
    .menu-icon{
      float: left;
    }
    .notification{
      float: right;
      background: url(../images/notification-icon.png) no-repeat 0 0;
      width: 19px;
      height: 22px;
      position: relative;
      margin-top: 13px;
      span{
        width: 8px;
        height: 8px;
        border-radius: 50px;
        background: #50e3c2;
        position: absolute;
        z-index: 9999;
        right: 1px;
        top: 4px;
        border: 1px solid $white;
        
      }
    }
  }
  .nav-sidebar{
    li{
        margin: 5px 0;
        width: 100%;
        cursor: pointer;
      div{
        padding: 9px 10px 9px 14px;
        color: $menu-text;
        font-size: 12px;
        &.current{
          color: $brand-primary;
          background-color: $white;
          .shipments-menu-icon{
            background-image: url(../images/shipments-menu-icon-hover.png);
          }
          .shipments-menu-icon{
            background-image: url(../images/shipments-menu-icon-hover.png);
          }
          .order-menu-icon{
            background-image: url(../images/orders-manu-icon-hover.png);
          }
          .audit-trail-menu-icon{
            background-image: url(../images/audit-trail-menu-icon-hover.png);
          }
          .stock-menu-icon{
            background-image: url(../images/stock-menu-icon-hover.png);
          }
          .settings-menu-icon{
            background-image: url(../images/Settings-menu-icon-hover.png);
          }
          .logout-menu-icon{
            background-image: url(../images/Logout-menu-icon-hover.png);
          }
          .box-menu-icon{
            background-image: url(../images/box-menu-icon-hover.png);
          }
        }
        
        &:hover{
          color: $brand-primary;
          background-color: $white;
          .shipments-menu-icon{
            background-image: url(../images/shipments-menu-icon-hover.png);
          }
          .shipments-menu-icon{
            background-image: url(../images/shipments-menu-icon-hover.png);
          }
          .order-menu-icon{
            background-image: url(../images/orders-manu-icon-hover.png);
          }
          .audit-trail-menu-icon{
            background-image: url(../images/audit-trail-menu-icon-hover.png);
          }
          .stock-menu-icon{
            background-image: url(../images/stock-menu-icon-hover.png);
          }
          .settings-menu-icon{
            background-image: url(../images/Settings-menu-icon-hover.png);
          }
          .logout-menu-icon{
            background-image: url(../images/Logout-menu-icon-hover.png);
          }
          .box-menu-icon{
            background-image: url(../images/box-menu-icon-hover.png);
          }
         
        }
        &.active{
          color: $white;
          background-color: $brand-primary;
          border-radius: 8px;
          .shipments-menu-icon{
            background-image: url(../images/shipments-menu-icon-hover.png);
          }
          .shipments-menu-icon{
            background-image: url(../images/shipments-menu-icon-hover.png);
          }
          .order-menu-icon{
            background-image: url(../images/orders-manu-icon-hover.png);
          }
          .audit-trail-menu-icon{
            background-image: url(../images/audit-trail-menu-icon-hover.png);
          }
          .stock-menu-icon{
            background-image: url(../images/stock-menu-icon-hover.png);
          }
          .settings-menu-icon{
            background-image: url(../images/Settings-menu-icon-hover.png);
          }
          .logout-menu-icon{
            background-image: url(../images/Logout-menu-icon-hover.png);
          }
          .box-menu-icon{
            background-image: url(../images/box-menu-icon-active.png);
          }
          .count-box{
            border: 1px solid #fff;
            margin-left: 25px;
          }
        }
        .shipments-menu-icon{
          background-image: url(../images/shipments-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 -2px;
          width: 24px;
          height: 22px;
          display: block;
          float: left;
          margin-right: 16px;
        }
        .order-menu-icon{
          background-image: url(../images/orders-manu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 22px;
          height: 22px;
          display: block;
          float: left;  
          margin-right: 16px;
        }
        .audit-trail-menu-icon{
          background-image: url(../images/audit-trail-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          margin-right: 16px;
        }
        .stock-menu-icon{
          background-image: url(../images/stock-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          margin-right: 16px;
        }
        .company-menu-icon{
          background-image: url(../images/company-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          margin-right: 16px;
        }
        .business-menu-icon{
          background-image: url(../images/business-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          margin-right: 16px;
        }
        .user-menu-icon{
          background-image: url(../images/user-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          margin-right: 16px;
        }
        .product-menu-icon{
          background-image: url(../images/product-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          margin-right: 16px;
        }
        .process-menu-icon{
          background-image: url(../images/process-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          margin-right: 16px;
        }
        .actual-menu-icon{
          background-image: url(../images/actual-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          margin-right: 16px;
        }
        .define-menu-icon{
          background-image: url(../images/define-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          margin-right: 16px;
        }
        .settings-menu-icon{
          background-image: url(../images/Settings-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          margin-right: 16px;
        }
        .logout-menu-icon{
          background-image: url(../images/Logout-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          margin-right: 16px;
        }
        .box-menu-icon{
          background-image: url(../images/box-menu-icon.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 18px;
          height: 18px;
          display: block;
          float: left;
          margin-right: 16px;
          background-size: 18px;
        }
        .count-box{
          float: right;
          width: 22px;
          height: 18px;
          border: 1px solid #ccc;
          text-align: center;
          border-radius: 4px;
          margin-left: 25px;
        }
      } 
      
      ul{
        list-style-type: none;
        padding-left: 14px;
        li{
          a{
            text-decoration: none;
            display: block;
            padding-left: 26px;
          }
        }
      }
    }
  }
}