.ReactModalPortal{
    .modal{
        display: block;
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999999;
        -webkit-overflow-scrolling: touch;
        margin: auto;
        width: 700px;
        min-height: 300px;
        background-color: #f6f7fb;
        border-radius: 10px;
        max-height: 400px;
        padding: 10px;
        overflow-y: auto;
        form{
            width: 100%;
            margin-top: 54px;
            padding: 20px 18px 20px 9px;
            .date-picker{
                label{
                    float: left;
                    color: $menu-text;
                }
                .react-datepicker-wrapper{
                    input
                    {
                        width: 100%;
                        background-color: #fff;
                        max-height: 34px;
                        border: 1px solid #4e79e1;
                        box-shadow: 0 5px 17px -3px #ccc;
                        height: 38px;
                    }
                }
            }
        }
        .headertext {
            padding-left: 25px;
        }
    }
}
.ReactModal__Content{
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    overflow: auto !important;
    border-radius: 4px !important;
    outline: none !important;
    padding: 20px !important;
    margin-right: 0px !important;
    transform: translate(0px, 0px) !important;
    background: hsla(0, 0%, 0%, 0.21) !important;
}
.modal-btn{
    float: right !important;
    background-color: $brand-primary  !important;
    position: absolute !important;
    right: 10px !important;
    top: 7px !important;
    &:hover{
        background-color: $brand-primary  !important;
    }
}
.modal-btn-receive{
    float: right !important;
    background-color: $brand-primary  !important;
    position: absolute !important;
    right: 10px !important;
    bottom: 10px !important;
    &:hover{
        background-color: $brand-primary  !important;
    }
}
.react-bs-table-bordered{
    border: none !important;
}
.react-bs-table-bordered{
    padding: 9px;
}
.react-bs-table-pagination {
    background: #fff;
    margin: 0px 9px 9px 9px;
}