.pagination{
  margin: 0;
  padding-top: 5px;
  list-style-type: none;
  li{
    display: inline-block;
    text-align: center;
    padding: 1px 10px;
    font-size: 12px;
    color: #c9c9d0;
    font-weight: bold;
    &.active{
      background-color: $brand-primary;
      color: $white;
      border-radius: 3px;
    }
    div{
      cursor: pointer;
    }
    &:first-child{
      padding: 1px 10px; 
    }
    &:last-child{
      padding: 1px 10px; 
    }
    a{
      padding: 1px 8px;
    }
  }
}
.go-to-page{
    text-align: right;
  label{
    color: #c9c9d0;
    font-size: 14px;
  }
  .page-number{
    width: 23px;
    height: 18px;
    border: 1px solid $brand-primary;
    border-radius: 3px;
    margin-left: 8px;
    text-align: center;
  }
 .go{
    float: right;
    color: $brand-primary;
    padding-left: 10px;
    padding-top: 1px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  img{
      float: right;
      margin-left: 20px;
      margin-top: 5px;
    }
  }
}