.panel{
  background-color: transparent;
  padding: 0;
  box-shadow: inherit;
}
.panel-body{
  padding: 0;
}
.panel-body{
  padding:0;
}

.table-bordered{
  border-style: none;
  margin:0;
  border-collapse: separate;
  thead{
    tr{
      th{
        border: none;  
        text-align: left !important; 
        color: rgba(0, 0, 0, .4);
        font-size: 14px;
        font-weight: 500;
        line-height: 0;
        padding: 20px 8px;
        &:first-child {
          width: 100px;
          border-top: none;
          border-left: none;
          border-right: none;
        }
        .shoter{
          display: inline-block;
          position: relative;
          display: inline;
          margin-left: 12px;
          .up{
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-bottom: 5px solid $brand-primary;
            position: absolute;
            top: 4px;
            cursor: pointer;
          }
          .down{
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 5px solid $menu-text;
            position: absolute;
            bottom: 0;
            cursor: pointer;
          }
        }
      }
    }
  } 
  tbody{
    tr{
      td{
        line-height: 30px;
        background-color: $white;
        font-size: 12px;
        border: none;
        border-bottom: 3px solid $brand-gray;
        padding-bottom: 0;
        padding-top: 0;
        height: 22px;
        color: rgba(0, 0, 0, .7);
        &:first-child{
          border-left: 1px solid #f6f7fb;
          border-radius: 8px 0 0 8px;
          border-collapse: inherit;
        }
        &:last-child{
          border-right: 1px solid #f6f7fb;
          border-radius: 0 8px 8px 0;
          border-collapse: inherit;
        }
        div{
          float: left;
          cursor: pointer;
          &.action{
            color: $brand-primary;
            text-decoration: none;
            font-size: 12px;
            padding: 0 8px;
            &.disable{
              color: #c9c9d0;
            }
            &.delete{
              color: #ce4152;
            }
          }
        }
      }
    }
  }
}


.panel-footer .pagination{
  margin:0; 
}

.panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}
