@import 'bootstrap';
@import 'menu';
@import 'header';
@import 'table';  
@import 'pagination';  
@import 'footer';  
@import 'gt-form';  
@import 'create-order';  
@import 'login';  
@import 'modal';  
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Great+Vibes|Pacifico');
body{
  margin: 0;
  padding: 0;
  background-color: $brand-gray;  
  font-family: "Oxygen", sans-serif, Arial;
}
.display-none{
  display: none;
}
.data-tabel{
  margin-top: 12px;
  overflow: hidden;
} 
.add-button{
  width: 40px;
  height: 40px;
  background-color: $brand-primary;
  border-radius: 11px;
  display: block;
  font-size: 26px;
  text-align: center;
  color: $white;
  cursor: pointer;
  box-shadow: 0px 6px 10px #7aa1ff;
  margin-right: 12px;
  margin-top: 15px;
  float: right;
  line-height: 0;
}
.upload-button{
  width: 150px;
  height: 40px;
  background-color: $white;
  font-size: 12px;
  color: $brand-primary;
  margin-left: 24px;
  margin-top: 15px;
  &:hover{
    background-color: $white;
    border-color: $white;
    color: $brand-primary;
  }
  &:active{
    background-color: $white;
    border-color: $white;
    color: $brand-primary;
  }
}
.download-button{
  width: 150px;
  height: 40px;
  background-color: $white;
  font-size: 12px;
  color: $brand-primary;
  margin-left: 10px;
  margin-top: 15px;
  &:hover{
    background-color: $white;
    border-color: $white;
    color: $brand-primary;
  }
  &:active{
    background-color: $white;
    border-color: $white;
    color: $brand-primary;
  }
}

.process-loss {
  margin-left: 25px;
}
.scan-button{
  width: 150px;
  height: 40px;
  background-color: $brand-primary;
  font-size: 12px;
  color: $white;
  margin-left: 10px;
  &:hover{
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $white;
  }
  &:active{
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $white;
  }
}
.main{
  position: relative;
  min-height: 100vh;  
  background: transparent;
}
h1{
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-style: normal;
  font-size: 36.0px;
  color: $gray-base;
  text-align: left;
  line-height: 50.0px;
}
h2{
  color: $heading-text;
  font-size: 20px;
  line-height: 26.0px;
  font-weight: 700;
}
.react-datepicker-ignore-onclickoutside{
  width: 100%;
  background-color: #fff;
  height: 34px;
  border: 1px solid #4e79e1;
  box-shadow: 0 5px 17px -3px #ccc;
  border-radius: 4px;
}
.react-datepicker-wrapper{
  display: block !important;
}
.react-datepicker__input-container{
  width: 100% !important;
  input{
    width: 100%;
    background-color: #fff;
    height: 34px;
    border: 1px solid #4e79e1;
    box-shadow: 0 5px 17px -3px #ccc;
    border-radius: 4px;
  }
}
.nopad{
  padding: 0 !important;
}

.item-list{
  float: none !important;
  margin: 0;
  padding: 0;
  
  li{
    background-color: #fff;
    padding: 5px;
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 5px 17px -3px #ccc;
    margin-bottom: 3px;
    .item-name{
      float: left;
      font-size: 12px;
      padding: 0 30px 0 8px;
      margin: 5px 0 0 0;
    }
    .form-group {
      float: left !important;
      margin: 0;
      .form-control{
        height: 24px;
      }
      .help-block{
        margin: 0 !important;
      }
      .control-label{
        display: none;
      }
      .select-menu{
        height: 24px;
      }
    }
    .category-order{
      float: left !important;
      margin-right: 10px;
      margin-top: 3px;
      label{
        float: left !important;
      }
      
    }
  }
  label{
    height: 15px;
    
  }
}
.create-order{
  .btn-primary{
    left: -6px;
    position: relative;
    top: 10px;
    margin-top: 20px;
  }
  .remove-item{
    background: transparent;
    border: none;
    color: red;
    outline: none;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
.link-item{
  background: transparent;
  border: none;
  color: $brand-primary;
  outline: none;
  &:hover{
    color: $brand-primary;
    background-color: transparent;
  }
}
button{
  float: left;
  cursor: pointer;
  &.action{
    color: $brand-primary;
    text-decoration: none;
    font-size: 12px;
    padding: 0 8px;
    background-color: transparent;
    border: 1px solid #fff;
    &:hover{
      background-color: transparent;
      border: none;
      border: 1px solid #fff;
    }
    &:focus{
      background-color: transparent;
      border: none;
      outline: none;
    }
    &.disable{
      color: #c9c9d0;
      background-color: transparent;
      &:hover{
        background-color: transparent;
        border: none;
        border: 1px solid #fff;
      }
      &:focus{
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
    &.delete{
      color: #ce4152;
      background-color: transparent;
      &:hover{
        background-color: transparent;
        border: none;
        border: 1px solid #fff;
      }
      &:focus{
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
    &.export{
      color:#000;
      font-weight: bold;
    }
  }
  
}

.pagination li.active{
  background-color: inherit;
}

.ReactModalPortal .modal form {
  width: 100%;
  margin-top: 10px;
  padding: 20px 18px 0px 9px;
}

.alert-box div div{
  width: 400px !important;
  border-radius: 8px !important;
  p{
    font-size: 22px;
  }
  .menu-icon{
    position: relative;
    top: 11px;
  }
  button.alert-btn{
    top: -205px;
    right: -21px;
    position: absolute;
    background-image:url('../images/ok-btn.png');
    background-repeat: no-repeat;
    width:30px;
    height: 30px;
    text-indent: 1000px;
    border:none;
    &:hover{
      border: none;
    }
  }
}
.autocomplete{ 
  div{
    display:block !important;
  }
   [aria-autocomplete="list"]{
      height: 34px;
    padding: 6px 12px;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s;
    width: 100%;
    background-color: #fff;
    max-height: 34px;
    border: 1px solid #4e79e1;
    box-shadow: 0 5px 17px -3px #ccc;
  }
}


.react-datepicker-popper{
  display:block !important;
}

  .model_popup{
    background: #fff;
    width: 530px;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    margin: auto;
    padding: 25px;
    border-radius: 5px;
  }
  .model_popup h2.heading-model-new {
    color: #c9c9d0;
    font-size: 18px;
    line-height: 26.0px;
    font-weight: 700;
}
.model_popup h3.text1{
    text-align: left;
    color: #000;
    font-size: 12px;
    margin: 0;
}
.model_popup .choose-file{
  background-color: #4e79e1;
  padding: 5px 15px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 150px;
  border-radius: 4px;
  margin-top: 26px;
  height: 40px;
}
.model_popup .choose-file span{
  font-size: 22px;
  line-height: 18px;
  padding-left: 13px;
}
.model_popup .file-name{
  width: 100%;
  background-color: #e3e7f3;
  margin-top: 15px;
  padding: 3px 5px;
  overflow: hidden;
}
.model_popup .file-name p.file-name1{
  float: left;
  font-size: 12px;
  color: #000;
  margin: 0;
}
.model_popup .file-name .cancel-file{
  float: right;
  cursor: pointer;
  color: $brand-primary;
}
.model_popup .file-name .cancel-btn{
  color: $brand-primary;
  float: right;
  margin-left: 10px;
}
.model_popup .cancel-order{
  background-color: #4e79e1;
  padding: 5px 15px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 150px;
  border-radius: 4px;
  margin-top: 26px;
  float: right;
}

.model_popup_qty{
  background: #fff;
  width: 596px;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  margin: auto;
  padding: 25px;
  border-radius: 5px;
}
.model_popup_qty h2.heading-model-new {
  color: #c9c9d0;
  font-size: 18px;
  line-height: 26.0px;
  font-weight: 700;
}
.model_popup_qty h3.text1{
  text-align: left;
  color: #000;
  font-size: 12px;
  margin: 0;
}
.model_popup_qty .choose-file{
background-color: #4e79e1;
padding: 5px 15px;
color: #fff;
font-size: 14px;
text-align: center;
width: 150px;
border-radius: 4px;
margin-top: 26px;
height: 40px;
}
.model_popup_qty .choose-file span{
font-size: 22px;
line-height: 18px;
padding-left: 13px;
}
.model_popup_qty .file-name{
width: 100%;
background-color: #e3e7f3;
margin-top: 15px;
padding: 3px 5px;
overflow: hidden;
}
.model_popup_qty .file-name p.file-name1{
float: left;
font-size: 12px;
color: #000;
margin: 0;
}
.model_popup_qty .file-name .cancel-file{
float: right;
cursor: pointer;
color: $brand-primary;
}
.model_popup_qty .file-name .cancel-btn{
color: $brand-primary;
float: right;
margin-left: 10px;
}
.model_popup_qty .cancel-order{
background-color: #4e79e1;
padding: 5px 15px;
color: #fff;
font-size: 14px;
text-align: center;
width: 150px;
border-radius: 4px;
margin-top: 26px;
float: right;
}





@for $i from 1 through 10 {
    $i: $i * 5;
    .mt-#{$i} {
        margin-top: 1px * $i+!important;
    }
}
@for $i from 1 through 10 {
    $i: $i * 5;
    .mb-#{$i} {
        margin-bottom: 1px * $i+!important;
    }
}

.nav-sidebar {
  padding: 9px 15px;
}

.disclaimer {
  margin-left: 7px;
  margin-top: 10px;
  color: rgba(0, 0, 0, .5);;
}

.customAutoComplete {
  div{
    position: relative;
    div{
      max-height:300px;
      overflow-y:auto;
      position: absolute;
      min-height: 0px;
      top: 34px !important;
      left: 0 !important;
      z-index: 9999;
      box-shadow: 0 5px 17px -3px #ccc;
      *{
      min-height: 27px !important;
      max-height: inherit !important;
      overflow-y: hidden !important;
      position: static;
      box-shadow:  inherit !important;
      background-color: transparent;
      }
    }
  }
}

.qr-ancher {
  background-color: #4e79e1;
  color: #fff;
  padding: 2px 8px 8px;
  font-size: 14px;
  height: 26px;
  display: block;
  width: 99px;
  text-align: center;
  border-radius: 3px;
  position: relative;
  top: 6px;
  &:hover{
  color: #fff;
  }
}

.setting-detail {
  box-shadow: 0px 6px 10px #7aa1ff;
  background-color: #fff;
  border-radius: 5px;
  min-width: 227px;
  padding: 1px;
  min-height: 100px;
  padding-left: 8px;
  h2{
    width: 33.33%;
    float: left;
    font-size: 13px;
    margin: 0;
    line-height: 35px;
    span{
      color: #5e5c6f;
    }
  }
}

.pagination-bg{
  background-color: #fff;
  box-shadow: 0px 6px 10px #7aa1ff;
  overflow: hidden;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.permission {
  float: left;
  margin-top: 15px;
}

.pagination-box {
  background: #fff;
  border-radius: 8px;
  padding: 0px;
  margin: 0 10px;
}

.lot-filter-search{
  width: 50%;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.react-datepicker-popper[data-placement^=top] {
  width: 200px;
}
.react-datepicker {
  width: 100%;
  font-size: 1.20rem !important;
}
.react-datepicker__month-container {
  width: 100%
}
.react-datepicker__day, .react-datepicker__day-name, .react-datepicker__time-name {
  width: 2.5rem !important;
}

.react-datepicker__input-container input{
  padding-left: 10px;
}

.footer p {
  color: rgba(0, 0, 0, 0.7);
  text-align: right;
  margin-top: 12px;
}

.logo-image {
  margin-top: 30px;
}

.image-info {
  padding-left: 5px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.audit-p {
  text-align: left !important;
}
.ProdData_name{
  font-size: 12px;
  width: 40%;
}
// .ProdData_qty{
//   width: 10%;
// }
.ProdData_text_qty{
  width: 18%;
}
.ProdData_size_qty{
  
  font-size: 12px !important;
  max-height: 27px;
  width: 165%;
}
.pencil-image{
  padding-left: 15%;
  width: 39px;
  margin-right: 128px;
}
.certi-image{
  width:19px;
  margin-right: 4px;
}
.conf-checkbox{
  margin-left: 1% !important;
}
.confi-check{
  position: relative;
  display: inline;
  padding-left: 6%;
}
.confi-check-seller{
  position: relative;
  display: inline;
  padding-left: 2%;
}
.leaflet-container {
  height: 400px;
  width: 800px;
  margin-left: 8%;
}
// .leaflet-pane {
//   z-index: 400;
// }
.leaflet-interactive{
  stroke-dasharray: 6px;
}
.leaflet-popup {
  width: 335px;
}
.leaflet-marker-icon{
  margin-left: -9px;
    margin-top: -6px;
    width: 24px !important;
    border-radius: 7px;
    height: 17px !important;
    transform: translate3d(-34px, 140px, 0px);
    z-index: 140;
    background-color: #794ee1;
    color: #f8f9fae8;
}
.leaflet-popup-content-wrapper{
  width: 85%;
  background-color: #e6e6e6;
  border-radius: 30px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: scroll;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.leaflet-popup-content-wrapper:hover{
  width: 85%;
  background-color: #e6e6e6;
  border-radius: 30px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: scroll;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card{
  background-color: #dee2e6 !important;
  border: none;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.audit-card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.audit-card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#graph-id-graph-container-zoomable{
  transform: translate(-84px, -76px) scale(1) !important;
}